@model IEnumerable<BookWebStore.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Book Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Short Description</th>
                <th>Long Description</th>
                <th>Author</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.ShortDescription)</td>
                    <td>@Html.DisplayFor(modelItem => item.LongDescription)</td>
                    <td>@Html.DisplayFor(modelItem => item.Author.FullName)</td>

                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="~/uploads/@item.ImageUrl" class="img-fluid" style="max-width: 100px; height: auto;" />
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                    <td>
                        @if (item.ImageUrl != null)
                        {
                            <img src="~/uploads/@item.ImageUrl" style="width:56px" class="img-thumbnail">
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
